.groupList, .memberList, .expenseList {
	list-style-type: none;
	width: max-content;
	min-width: 30%;
}
body.dark {
	background-color: #1B1921;
	color: white;
	font-family: sans-serif;
}
input[type="text"].groupInviteLink {
	width: 10em;
	line-height: 1.15;
	color: black;
	border-bottom: 4px solid #009387;
	margin-left: 1em;
	background-color: gray;
	background-color: white;
}
.groupEntry, .groupMember, .expense {
	padding: 15px 10px;
	border-radius: 2px;
	background-color: #1B1921;
	border: 2px solid #009387;	
	margin-bottom: 10px;
}
/*.groupEntry, .groupMember, .expense {
	padding: 10px;
	display: block;
	border: 2px solid black;
	margin-bottom: 10px;
}*/

.balancePositive {
	color: #23EC89;
}

.balanceNegative {
	color: #FF1DA2;
}

.group__viewmembers {
	margin-right: 20px;

}

.meridian-button {
	line-height: 1.15;
	font-size: medium;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
	background-color: #009387;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.meridian-button[disabled] {
	background-color: lightgray;
	color: darkslategray;
}

.meridian-button:not([disabled]):hover {
	background-color: darkgray;
}
